body{
  background-color:lightgray;
}

#flex{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

* {
  color: rgb(40,40,40);
}

#userInput{
  min-width:400px;
}

#tokens,li{
  display: inline-block;
}

li{
  padding: 1em;
  border: 1px solid black;
  background-color: white;
}

.topKtokens {
  border: 1px solid black;
  align-self: center;
}

.tab-bar {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display:flex;
}

.tab-bar button {
  background-color: inherit;
  float: center;
  border: none;
  padding: 14px 16px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.tab-bar button:hover {
  background-color: #ddd;
}

.tab-bar button.active {
  background-color: #ccc;
}